.css-cyxlny-MuiPaper-root-MuiDialog-paper {
  border-radius: 20px !important;
}
@media screen and (max-width: 820px) {
  .searchBarInputDesktop {
    width: 200px !important;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: none;
  }
}
@media screen and (max-width: 700px) {
  .menuPhone {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
  }
  .searchBarPhone {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .menuDesktop,
  .searchBarDesktop {
    display: none !important;
  }
  .menuDetail {
    padding-bottom: 15px;
  }
}
@media (min-width: 600px) {
  .css-1qvktwf-MuiContainer-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media screen and (max-width: 580px) {
  .menuDetail {
    width: 480px !important;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: none;
  }
}
@media screen and (max-width: 520px) {
  .menuDetail {
    flex-direction: column !important;
  }
  .inputBase {
    width: 200px !important;
  }
  .searchBarPhone {
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 362px) {
  .menuDetail {
    flex-direction: column !important;
    width: 550px !important;
  }
  .inputBase {
    width: 150px;
  }
}
