.cartItem {
  display: flex;
}
.cartItemImg {
  object-fit: contain;
}
.css-levciy-MuiTablePagination-displayedRows {
  margin: 0 !important;
}
@media screen and (max-width: 332px) {
  .charge {
    font-size: small !important;
  }
}
