.upload-file {
  position: relative;
}
.upload-file input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
}
.btn-saveChange:hover {
  scale: 1.1 !important;
}
@media screen and (min-width: 900px) {
  .profile-page {
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .profile-page {
    width: 100%;
  }
}
