.btn-chooseItem:hover {
  scale: 1.15 !important;
}
@media screen and (max-width: 900px) {
  .sidebarItemTitle {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .menuPhone {
    display: none;
  }
}
