@media screen and (max-width: 1191px) {
  .signin > h3 {
    margin: 10px !important;
  }
}
@media screen and (max-width: 1031px) {
  .password {
    margin: 10px !important;
  }
  .signin-footer {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 900px) {
  .signin-form > p {
    margin: 30px;
  }
}
@media screen and (max-width: 437px) {
  .signin > h3 {
    font-size: large;
  }
  .email,
  .password,
  .signin-btn {
    width: 80% !important;
  }
  .signin-footer {
    font-size: small;
  }
}
