.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.css-1mz1l2x-MuiStepContent-root {
  margin-left: 0 !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active,
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #306c6c !important;
}
@media screen and (max-width: 900px) {
  .signin {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 515px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textfield {
    width: 100% !important;
  }
}
@media screen and (max-width: 353px) {
  .css-9tmuzo-MuiStepper-root,
  .css-8wcvy5-MuiStep-root {
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }
  .css-1mz1l2x-MuiStepContent-root,
  .css-14yr603-MuiStepContent-root {
    padding-left: 8px !important;
  }
  .css-14yr603-MuiStepContent-root {
    border-left: none !important;
    margin-left: 0 !important;
  }
}
