/* @import "~antd/dist/antd.css"; */

.ri-product,
.ri-rate,
.ri-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.ri-rate {
  justify-content: space-between;
}

.ri-upload-image {
  margin-bottom: 15px;
}
.ri-submit {
  text-align: center;
}
